checklist
spacy
numpy

# for back_translation
torch

# for ReplaceNumericalValues
num2words
word2number

# for test cases and coverage
pytest
pytest-cov

# for evaluation
datasets
transformers
sacrebleu
seqeval

# for utility
tqdm

# Google colab 2nd example
sentencepiece

# for code format
black
pre-commit
flake8
isort
